<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/transoft</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.listeners.envers.autoRegister">false</property>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <mapping class="auditoria.UserRevEntity"/>
    
    <mapping resource="entidades/Programas.hbm.xml"/>
    <mapping resource="entidades/Estado.hbm.xml"/>
    <mapping resource="entidades/PessoaJuridica.hbm.xml"/>
    <mapping resource="entidades/EnderecosPessoa.hbm.xml"/>
    <mapping resource="entidades/GrupoAcao.hbm.xml"/>
    <mapping resource="entidades/PessoaFisica.hbm.xml"/>
    <mapping resource="entidades/UsuarioGrupos.hbm.xml"/>
    <mapping resource="entidades/Grupo.hbm.xml"/>
    <mapping resource="entidades/Cidade.hbm.xml"/>
    <mapping resource="entidades/Veiculo.hbm.xml"/>
    <mapping resource="entidades/Viagem.hbm.xml"/>
    <mapping resource="entidades/Acao.hbm.xml"/>
    <mapping resource="entidades/Frete.hbm.xml"/>
    <mapping resource="entidades/Pais.hbm.xml"/>
    <mapping resource="entidades/Erro.hbm.xml"/>
    <mapping resource="entidades/Usuario.hbm.xml"/>
    <mapping resource="entidades/ProdutosFrete.hbm.xml"/>
    <mapping resource="entidades/Endereco.hbm.xml"/>
    <mapping resource="entidades/Despesa.hbm.xml"/>
    <mapping resource="entidades/Unidade.hbm.xml"/>
    <mapping resource="entidades/PermissoesUsuario.hbm.xml"/>
    <mapping resource="entidades/FreteViagem.hbm.xml"/>
    <mapping resource="entidades/Pessoa.hbm.xml"/>
    <mapping resource="entidades/EstadoFrete.hbm.xml"/>
    <mapping resource="entidades/EstadoVeiculo.hbm.xml"/>
    <mapping resource="entidades/Auditar.hbm.xml"/>
    <mapping resource="entidades/Release.hbm.xml"/>
    <mapping resource="entidades/ReleaseUsuario.hbm.xml"/>
    <mapping resource="entidades/ReleaseItem.hbm.xml"/>
    
    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-insert"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-update"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-delete"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-update"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-remove"/>
    <listener class="org.hibernate.envers.event.AuditEventListener" type="post-collection-recreate"/>
  </session-factory>
</hibernate-configuration>
